body{
    background: #CDD5AE;
}
button{
    padding: 20px 50px;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color:#E9EDCA;
    cursor: pointer;
    color: black;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    
}